.user-profile{
    display: flex;
}

.user-profile img {
    border-radius: 50%;
    height:60px;
}

.navigator-container{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;

}

.user-profile-greet{
    margin-block-end:0 !important;
}