.register-page-form {
    width: 70%;
    margin-top: 45%;
}

.register-page-container {
    display: flex;
    justify-content: center;
    height: 100%;
    background: ivory;

}

.form-group-end{
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
}